/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    direction: rtl;
    text-align: start;
}
body {
    font-family: YekanBakh;
    background-color: #121317;
    color: #fff;
}

.app-container {
    min-height: 100vh;
}

.sidenav {
    border: none!important;
}
.sidenav-inner {
    width: 300px;
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mat-drawer-container {
	background-color: transparent;
	color: white;
}

.mat-drawer {
	background-color: transparent;
	color: white;
}

.sidenav-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5rem;
}

.sidenav-header .app-logo {
    margin-left: .75rem;
}

.sidenav-header .app-logo img{
    height: 50px;
    width: 50px;
}

.sidenav-header .app-title h1 {
    color: #F2BA40;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 0;
}

.app-menu {
    padding: .75rem;
    background-color: #191A1E;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.app-menu .nav-item {
    margin-bottom: 0.5rem;
}

.app-menu .nav-item:last-child {
    margin-bottom: 0;
}

.app-menu .nav-link {
    border-radius: 10px;
    font-size: 13px;
    padding: .75rem 1rem;
    color: #78797D;
    transition: all 3ms ease-in-out;
}

.app-menu .nav-link:hover,
.app-menu .nav-link.active {
    color: #EDEAF6;
    background-color: #212226;
    transition: all 3ms ease-in-out;
}

.set-income-menu {
    padding: .75rem;
    background-color: #191A1E;
    border-radius: 25px;
    margin-bottom: .5rem;
    position: relative;
}

.set-income-menu::before {
    content: url('assets/images/dollar-circle.svg');
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 30px;
    height: 30px;
    display: block;
}

.set-income-menu h5 {
    font-size: 12px;
    font-weight: 600;
    color: #EDEAF6;
    padding-right: 1.5rem;
}

.set-income-menu p {
    font-size: 12px;
    color: #78797D;
}

.setting-menu {
    padding: .75rem;
}

.setting-menu .nav-item {
    margin-bottom: 0.5rem;
}

.setting-menu .nav-item:last-child {
    margin-bottom: 0;
}

.setting-menu .nav-link {
    border-radius: 10px;
    font-size: 13px;
    padding: .75rem 1rem;
    color: #78797D;
    transition: all 3ms ease-in-out;
}

.setting-menu .nav-link:hover,
.setting-menu .nav-link.active {
    color: #EDEAF6;
    background-color: #212226;
    transition: all 3ms ease-in-out;
}

.app-content {
    min-height: 100vh;
    padding: 1.5rem;
}

.content-title {
    background-color: #191A1E;
    border: 1px solid #F2BA40;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.content-title h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.btn {
    padding: .65rem 1.25rem;
    font-size: 14px;
    border-radius: 15px;
}

.btn-primary {
    background-color: #8658CA;
    border-color: #8658CA;
}

.btn-primary:hover {
    background-color: #7a4fbb;
    border-color: #7a4fbb;
}